.navbar {
    display: flex;
    margin:1.5rem 5rem 1.5rem;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin-left: 2.5rem;
    list-style-type: none;

}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 3rem;
    height: 3rem;
}

.navbar a {
    color: inherit;
    text-decoration: none;
}


.links {
    display: flex;
    align-items: center;

}
