@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loadingSpinner {
    width: 50px;
    height: 50px;
    border: 10px solid #bbd6e0;
    border-top: 10px solid #0B4870;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
  }

  .spinnerContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
  }